#[link(name = "comprsr_gzip")];
#[link(vers = "0.0.1")];
#[link(author = "github.com/honzasp")];
#[crate_type = "lib"];

extern mod comprsr_inflate (vers = "0.0.1", author = "github.com/honzasp");
extern mod comprsr_checksums (vers = "0.0.1", author = "github.com/honzasp");
extern mod comprsr_bits (vers = "0.0.1", author = "github.com/honzasp");

pub use inflate = comprsr_inflate::inflate;
pub use checksums = comprsr_checksums::checksums;
pub use bits = comprsr_bits;

pub mod gzip {
  pub mod hdr_decoder;
  pub mod body_decoder;
  pub mod header;
  pub mod error;

  #[cfg(test)]
  mod test_helpers;
}
