#[link(name = "comprsr_bits")];
#[link(vers = "0.0.1")];
#[link(author = "github.com/honzasp")];
#[crate_type = "lib"];

#[cfg(test)]
extern mod extra;

pub use bits::bit_reader::{BitReader};
pub use bits::bit_buf::{BitBuf};
pub use bits::byte_reader::{ByteReader};
pub use bits::byte_buf::{ByteBuf};
pub use recv = bits::recv;

pub mod bits {
  pub mod bit_reader;
  pub mod bit_buf;
  pub mod byte_reader;
  pub mod byte_buf;
  pub mod recv;
  mod sanity;
}

