#[link(name = "comprsr_gzip")];
#[link(vers = "0.0.1")];
#[link(author = "github.com/honzasp")];
#[crate_type = "lib"];

extern mod _inflate (name = "comprsr_inflate",
  vers = "0.0.1", author = "github.com/honzasp");
extern mod _checksums (name = "comprsr_checksums",
  vers = "0.0.1", author = "github.com/honzasp");
extern mod bits (name = "comprsr_bits",
  vers = "0.0.1", author = "github.com/honzasp");

pub use inflate = _inflate::inflate;
pub use checksums = _checksums::checksums;

pub mod gzip {
  pub mod hdr_decoder;
  pub mod body_decoder;
  pub mod header;
  pub mod error;

  #[cfg(test)]
  mod test_helpers;
}
