#[link(name = "comprsr_zlib")];
#[link(vers = "0.0.1")];
#[link(author = "github.com/honzasp")];
#[crate_type = "lib"];

extern mod comprsr_inflate
  (vers = "0.0.1", author = "github.com/honzasp");
extern mod comprsr_checksums
  (vers = "0.0.1", author = "github.com/honzasp");
extern mod comprsr_recv
  (vers = "0.0.1", author = "github.com/honzasp");

pub mod zlib {
  pub mod decoder;
  pub mod error;
}

pub mod inflate {
  pub use comprsr_inflate::inflate::{inflater, error};
}

pub mod checksums {
  pub use comprsr_checksums::checksums::{adler32};
}

pub mod recv {
  pub use comprsr_recv::recv::*;
}
